.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    display: inline-block;
    margin: 5px 15px 0 15px;
    font-size: 13px;
}

.title {
    color: black;
    text-decoration: none;
}

.button {
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 13px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}
