.img {
    width: 300px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
}

.button {
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 13px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}
